/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  float: right;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Mobile Pilot Group Custom Styles 
--------------------------------------------------- */

/* highlight light grey to indicate current page you are on */
.home nav ul li a.home,
.storelocator nav ul li a.storelocator {
    background-color: #eee;
}

/* Mobile Site Pilot Home Image */
#index-img.jumbotron {
	background: #FFF url('../images/jumbo_img.jpeg') center center;
	background-size: cover;
	height: 500px;
	color: #FFFFF5;
}


.content {
	margin-top: 3%;
}

#map-container {
	padding: 20px 35px;
	border-radius: 6px;
	border: 1px solid #999;
	margin-bottom: 3%;
	margin-top: 3%;
}

#map {
	height: 550px;
	padding: 0;
	margin-bottom: 20px;
	overflow: visible;
}

/* positioning and styling of the search box and buttons */ 

.input-group-addon {
	background: transparent;
}

.stylish-input-group button {
	border: none;
	background: transparent;
}

.stylish-input-group:hover {
	background-color: #e6e6e6;
}

.info-content{
	border: 2px solid black;
    border-radius: 5px;
	margin-top:10px;
	margin-bottom:10px;
}

/*Styles the name of the location in print store location*/
.location-heading{
	font-size: 100%;
	color: #333333;
	font-weight: bold;
	margin: 0;
}







